/* Frame Three */
#FrameThree {
  background: var(--majorGradient);
  color: white;
  display: flex;
}

.FrameThreeInfoContainer {
  flex: 1;
  min-width: 33%;
}

.FrameThreeInfoContainer h2 {
  padding-top: 11.625rem;
  margin-bottom: 2.19rem;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.75rem;
}

.FrameThreeInfoContainer p {
  font-weight: 400;
  font-size: 1.13rem;
  line-height: 2.18rem;
  margin-bottom: 3.6rem;
}

.FrameThreeInfoContainer button {
  padding: 0.875rem 2.07rem;
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  color: var(--deep_purple);
  margin-bottom: 15.7rem;
}

.FrameThreeInfoContainer button:hover {
  cursor: pointer;
}

.FrameThreeImageContainer {
  flex: 2;
  padding-top: 6.25rem;
  padding-left: 7.5rem;
}

.FrameThreeImageContainer img {
  max-width: 90%;
}

/* Media Queries */
@media all and (min-width: 768px) and (max-width: 1024px) {
  #FrameThree {
    padding: 3rem 4.44rem;
  }

  .FrameThreeInfoContainer h2 {
    padding-top: 3.875rem;
    margin-bottom: 0.73rem;
    font-size: 2.5rem;
  }

  .FrameThreeInfoContainer p {
    font-size: 1rem;
    margin-bottom: 1.2rem;
  }

  .FrameThreeInfoContainer button {
    margin-bottom: 4rem;
  }

  .FrameThreeImageContainer {
    flex: 1;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 4rem;
  }

  .FrameThreeImageContainer img {
    max-width: 100%;
  }
}

@media all and (max-width: 768px) {
  #FrameThree {
    flex-direction: column;
    padding-inline: 2.08rem;
  }

  .FrameThreeInfoContainer h2 {
    padding-top: 3.875rem;
    margin-bottom: 0.73rem;
    font-size: 2.5rem;
  }

  .FrameThreeInfoContainer p {
    font-size: 1rem;
    margin-bottom: 1.2rem;
  }

  .FrameThreeInfoContainer button {
    margin-bottom: 4rem;
  }

  .FrameThreeImageContainer {
    flex: 1;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 4rem;
  }

  .FrameThreeImageContainer img {
    max-width: 100%;
  }
}
