.ErrorContainer {
  padding-top: 2rem;
  padding-inline: 6.25rem;
  padding-bottom: 5rem;
  text-align: center;
}

.ErrorContainer h1,
.ErrorContainer p {
  padding: 0.7rem 0;
}

.ErrorContainer button {
  margin-top: 0.5rem;
  background: var(--majorGradient);
  color: white;
  border: none;
  border-radius: 0.625rem;
  padding: 0.875rem 1.65625rem;
  font-size: 1rem;
  line-height: 1.25rem;
}

.ErrorContainer button:hover {
  cursor: pointer;
}
