.GridItem {
  padding-top: 1rem;
  padding-inline: 1rem;
  border: 1px solid var(--fade);
  border-radius: 1rem;
  position: relative;
  transition: all 300ms ease;
}

.GridItem:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.GridItem > img:first-of-type {
  top: 1.75rem;
  right: 1.75rem;
  z-index: 2;
  position: absolute;
}

.GridItem > img:first-of-type:hover {
  cursor: pointer;
}

.GridItem > img:last-of-type {
  width: 100%;
  margin-bottom: 1rem;
  z-index: 1;
}

.GridItem > div {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  line-height: 0.825rem;
  margin-bottom: 0.625rem;
}

.GridItem > div > p:last-of-type {
  text-align: right;
}

.GridItemRow1 p:last-of-type {
  font-weight: 700;
}

.GridItemRow2 p {
  font-size: 0.71rem;
}

.GridItemRow1,
.GridItemRow2 {
  gap: 0.2rem;
}

.GridItemRow3 {
  margin-bottom: 1rem;
  display: flex;
  gap: 0.5rem;
}

.GridItemRow3 img {
  width: 0.75rem;
  height: 0.75rem;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
  .GridItem > div {
    font-size: 0.8rem;
  }
  .GridItemRow2 p {
    font-size: 0.65rem;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .GridItem > div {
    font-size: 0.85rem;
  }
  .GridItemRow2 p {
    font-size: 0.7rem;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .GridItem > div {
    font-size: 0.9rem;
  }
  .GridItemRow2 p {
    font-size: 0.75rem;
  }
}

@media all and (max-width: 480px) {
  .GridItem > div {
    font-size: 1rem;
  }
  .GridItemRow2 p {
    font-size: 0.9rem;
  }
}
